h6{
    text-align: left;
}

div.down{
    font-size: medium;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    background-color: lightslategray;
}
body{
    background-color: lightblue;
}
a{
    color: black;
    
    
}
